<%# メッセージ入力フォームの部分テンプレート %>
<%# @param chat_room [ChatRoom] メッセージを投稿するチャットルーム %>
<%# @param message [Message] 新規作成するメッセージオブジェクト %>

<%# ネストされたリソースのフォーム %>
<%= form_with model: [chat_room, message], class: "message-form", id: "message_form" do |f| %>
  <div class="message-form__content">
    <%# メッセージ入力フィールド %>
    <%= render "shared/form_field", 
      form: f, 
      attribute: :content, 
      label_text: nil, 
      field_type: :text_area, 
      options: { 
        rows: 1,
        placeholder: "メッセージを入力...",
        data: { 
          controller: "textarea-autogrow",
          action: "keydown->textarea-autogrow#resize"
        } 
      }, 
      html_options: { class: "message-form__input" } 
    %>
    
    <%# 送信ボタン - submitボタンのためbutton_toパーシャルではなく直接f.submitを使用 %>
    <%= f.submit "送信", class: "button button--primary button--small message-form__submit" %>
  </div>
<% end %> 