<%# フォームのエラーメッセージを表示する共通パーシャル %>
<%# @param resource [ActiveRecord::Base] エラーを表示するモデルオブジェクト %>
<%# @param resource_name [String] モデルの表示名 (オプション) %>

<% if resource.errors.any? %>
  <div class="error-messages">
    <h2>
      <%= pluralize(resource.errors.count, "件のエラー") %>が発生しました：
    </h2>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %> 