<%# フォームのエラーメッセージを表示するパーシャル %>
<%# @param resource [ActiveRecord::Base] エラーを表示するモデルインスタンス %>
<%# @param resource_name [String] リソース名（省略可） %>

<% if resource.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <h5 class="alert-heading">
      <%= pluralize(resource.errors.count, "error") %> prohibited this <%= resource_name || resource.class.name.underscore.humanize.downcase %> from being saved:
    </h5>
    <ul class="mb-0 ps-4">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %> 